<div id="wrapper">
	<%= link_to '<button type="button" class="btn btn-info">Edit</button>'.html_safe, edit_user_profile_path(@user, @profile) %>
	<table>
		<tr>
			<td>Date Of Birth</td>
			<td>:</td>
			<td><%= @profile.dob %></td>
		</tr>
		<tr>
			<td>Place Of Birth</td>
			<td>:</td>
			<td><%= @profile.pob %></td>
		</tr>
		<tr>
			<td>Skills</td>
			<td>:</td>
			<td><%= @profile.skills %></td>
		</tr>
		<tr>
			<td>Favorite</td>
			<td>:</td>
			<td><%= @profile.favorite %></td>
		</tr>
		<tr>
			<td>Dream</td>
			<td>:</td>
			<td><%= @profile.dream %></td>
		</tr>
		<tr>
			<td>Current Job</td>
			<td>:</td>
			<td><%= @profile.current_job %></td>
		</tr>
		<tr>
			<td colspan="3">
				<p><%= link_to '<input value="Back" type="button" class="btn btn-info" />'.html_safe, users_path %></p>
			</td>
		</tr>
	</table>
		
</div>