<div>
	<h4>Detail of :<%= "#{@person.first_name}" %></h4>
	<p><%= @person.first_name %></p>
	<p><%= @person.last_name %></p>
	<p><%= @person.username %></p>
	<p><%= @person.gender %></p>
	<p><%= @person.email %></p>
	<p><%= @person.phone_num %></p>
	<p><%= @person.address %></p>
</div>

