<div id="wrapper">
	<div id='home-head'>
		<h1>Administrator Page</h1>
	</div>
		
	<p>
		<%= link_to '<button type="button" class="btn btn-info">Add New</button>'.html_safe, new_person_path %>
	</p>
	<div id="form-person">
		<!-- <table id="person-info" border='1' cellpadding="0" cellspacing="0"> -->
		<table class="table table-hover">
			<tr style="background: #F5F5F5;">
				<th>First Name</th>
				<th>Last Name</th>
				<th>UserName</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th>Action</th>
			</tr>
		<% @people.each do |person| %> 
			<tr>
				<td><%= person.first_name %></td>
				<td><%= person.last_name %></td>
				<td><%= person.username %></td>
				<td><%= person.gender %></td>
				<td><%= person.email %></td>
				<td><%= person.phone_num %></td>
				<td><%= person.address %></td>
				<td colspan="2">
					<span><%= link_to '<button class="btn btn-success">Edit</button>'.html_safe, edit_person_path(person) %></span>

					<!-- add and view profile -->

					<% if person.profiles.count > 0%>
						<span><%= link_to '<button class="btn btn-success">View Profile</button>'.html_safe, person_profiles_path(person) %></span>
					<% else %>
						<span><%= link_to '<button class="btn btn-success">Add Profile</button>'.html_safe, new_person_profile_path(person) %></span>
					<% end %>

					<span><%= link_to '<button class="btn btn-success">View item</button>'.html_safe, person_items_path(person) %></span>

					<span><%= link_to '<button class="btn btn-danger">Delete</button>'.html_safe, person_path(person), method: :delete, data: {confirm: "Are you sure want to delete this record?"} %></span>
				</td>
			</tr>
		<% end %>
			
		</table>
	</div>
</div><!-- end wrapper -->
