<div id="wrapper">
	<h1>Administrator Page</h1>

	<%= link_to '<button type="button" class="btn btn-info">Add New</button>'.html_safe, new_user_path %>
	<div id="form-user">
		<!-- <table id="user-info" border='1' cellpadding="0" cellspacing="0"> -->
		<table class="table table-hover">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>UserName</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th>Action</th>
			</tr>
		<% @users.each do |user| %> 
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.username %></td>
				<td><%= user.gender %></td>
				<td><%= user.email %></td>
				<td><%= user.phone_num %></td>
				<td><%= user.address %></td>
				<td colspan="2">
					<span><%= link_to "Edit", edit_user_path(user) %></span>
					<span>|</span>
					<span><%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure want to delete this record?"} %></span>
					<span>|</span>
					<% if user.profiles.count > 0%>
						<span><%= link_to "View Profile", user_profiles_path(user) %></span>
					<% else %>
						<span><%= link_to "Add Profile", new_user_profile_path(user) %></span>
					<% end %>
				</td>
			</tr>
		<% end %>
			
		</table>
			

		
	</div>
</div><!-- end wrapper -->
