<div id="wrapper">
	<div id='home-head'>
		<h1>Administrator Page</h1>
	</div>
		
	<p style="float:right;">
		<%= link_to '<button type="button" class="btn btn-info">Add New</button>'.html_safe, new_user_path %>
	</p>
	<div id="form-user">
		<!-- <table id="user-info" border='1' cellpadding="0" cellspacing="0"> -->
		<table class="table table-hover">
			<tr style="background: #F5F5F5;">
				<th>First Name</th>
				<th>Last Name</th>
				<th>UserName</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th>Action</th>
			</tr>
		<% @users.each do |user| %> 
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.username %></td>
				<td><%= user.gender %></td>
				<td><%= user.email %></td>
				<td><%= user.phone_num %></td>
				<td><%= user.address %></td>
				<td colspan="2">
					<span><%= link_to '<button class="btn btn-success">Edit</button>'.html_safe, edit_user_path(user) %></span>
					<% if user.profiles.count > 0%>
						<span><%= link_to '<button class="btn btn-success">View Profile</button>'.html_safe, user_profiles_path(user) %></span>
					<% else %>
						<span><%= link_to '<button class="btn btn-success">Add Profile</button>'.html_safe, new_user_profile_path(user) %></span>
					<% end %>
					<span><%= link_to '<button class="btn btn-danger">Delete</button>'.html_safe, user_path(user), method: :delete, data: {confirm: "Are you sure want to delete this record?"} %></span>

					<% if user.items.count > 0%>
						<span><%= link_to '<button class="btn btn-success">View Items</button>'.html_safe, user_items_path(user) %></span>
					<% else %>
						<span>Empty</span>
					<% end %>


				</td>
			</tr>
		<% end %>
			
		</table>
	</div>
</div><!-- end wrapper -->
