<%= form_for @item do |items| %>
<p>
	<%= items.label :id_item %></br>
	<%= items.text_field :id_item %>
</p>
<p>
	<%= items.label :name_item %></br>
	<%= items.text_field :name_item %>
</p>
<p>
	<%= items.label :img_item %></br>
	<%= items.text_field :img_item %>
</p>
<p>
	<%= items.submit %></br>

</p>
<% end %>