
<%= form_for [@user, @item] do |items| %>
<p>
	<%= items.label :name_item %></br>
	<%= items.text_field :name_item %>
</p>
<p>
	<%= items.label :img_item %></br>
	<%= items.file_field :img_item %>
</p>
<p>
	<%= items.submit %></br>
</p>

<% end %>