<div id="wrapper">
	<h3><%= "There are #{@item.count} item(s)" %></h3>

	<% if @item.count > 0 %>
		<% @item.each do |items|%>
			<div class="col-md-2" id="image">
				<%= image_tag(items.img_item) %>
				<center><%= items.name_item %><br/></center>
				<%= link_to "Edit", edit_user_item_path(@user, items) %> || 
				<%= link_to "Delete" , user_item_path(@user, items), method: :delete , data:{confirm: "Are you want to delete?"} %>
				<%= link_to '<button>Send Email</button>'.html_safe, new_user_item_path %>
				
			</div>					
		<% end %>
	<% end %>	

	<div class="col-md-12">
		<%= link_to '<button class="btn btn-info">Add Item</button>'.html_safe, new_user_item_path(@user) %>
	</div>
	<div class="show_item">Helloßß</div>
	  <div><img src="assets/images/1.jpg" class="img-polaroid"></div>
	 
</div><!-- end #wrapper -->

		
		
		

