<div id="wrapper">
	<h3><%= "There are #{@item.count} item(s)" %></h3>

	<div class="col-md-12">
		<%= link_to '<button class="btn btn-info">Add Item</button>'.html_safe, new_user_item_path(@user) , :class => "addd_item" %>	
	    <table>
			<tr>
				<td><input type="text" name="search" class = "form-control"/></td>
				<td><button class="btn btn-info">search</button></td>
			</tr>
		</table>
	</div>
	<% if @item.count > 0 %>
		<% @item.each do |items|%>
			<div class="col-md-2" id="image">
				<% if items.img_item? %>
				<%= image_tag items.img_item, :class => "img-rounded", :style => "width: 350px; height: 200px;"%>
				<% else %>
				 <%= image_tag 'missing.png', :class => "img-rounded", :style => "width:350px; height: 200px;"%>
				<% end %>
				<center>
					<p><%= items.name_item %></p>
					<%= link_to "<button class='btn-info'>Edit</button>".html_safe, edit_user_item_path(@user, items) %>


		<%= link_to "<button class='btn-info'>Delete</button>".html_safe , user_item_path(@user, items), method: :delete , data:{confirm: "Are you want to delete?"} %> 

		

					<%= link_to "<button class='btn-info'>Mail</button>".html_safe, new_user_item_path %>
				</center>
	</div>	
	<% end %>
	<% end %>
</div><!-- end #wrapper -->

		
		
		

