<div id='wrapper'>
	<center>
		<h1>Add new item form</h1>
		<table>
			<%= form_for [@user, @item], :html => { :multipart => true } do |i| %>
				<tr>
					<td><%= i.label :name_item %></td>
					<td>:</td>
					<td><%= i.text_field :name_item %></td>
				</tr>
				<tr>
					<td><%= label_tag 'Upload item' %></td>
					<td>:</td>
					<td><%= i.file_field :img_item %>
			</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><%= i.submit %></td>
				</tr>
			<% end %>
		</table>
	</center>
</div><!-- end #wrapper -->

