<div id='wrapper'>
	<center>
	<h1>Add new item</h1>
	<%= form_for [@user, @item], :html => { :multipart => true } do |i| %>
		<table>
			<tr>
				<td><%= i.label :name_item %></td>
				<td>:</td>
				<td><%= i.text_field :name_item, class: "form-control" %></td>
			</tr>
			<tr>
				<td><%= label_tag 'Upload item' %></td>
				<td>:</td>
				<td><%= i.file_field :img_item %></td>
			</tr>
			<tr>
				<td colspan="3">
					<%= i.submit "Submit", class: "btn btn-info" %>
				</td>
			</tr>
		</table>
	<% end %>
	</center>
</div><!-- end #wrapper -->

