
<center>
	<h1>Add new item form</h1>
	<table>
		<%= form_for(@items) do |item| %>
		
			<tr>
				<td><%= item.label :id_item %></td>
				<td>:</td>
				<td><%= item.text_field :id_item %></td>
			</tr>
			<tr>
				<td><%= item.label :name_item %></td>
				<td>:</td>
				<td><%= item.text_field :name_item %></td>
			</tr>
			<tr>
				<td><%= item.label :img_item %></td>
				<td>:</td>
				<td><%= item.text_field :img_item %></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td><%= item.submit %></td>
			</tr>
		<% end %>
	</table>
</center>

